<?xml version='1.0' encoding='utf-8'?>
<widget id="com.aa.tipline" ios-CFBundleIdentifier="com.airlineamb.tiplineaai" version="1.0.4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Tip Line</name>
    <description>
        Tip Line Application for Airline Ambassadors.
    </description>
    <author email="aa@gmail.com" href="http://airlineamb.org">
        GA Tech Tip Line Team: Kenta Kawaguchi, Micah Jo, Heather Schirra, Kyle Al-Shafei, William Cheng
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <edit-config file="*-Info.plist" mode="merge" target="NSPhotoLibraryUsageDescription">
        <string>need to photo library access to get pictures from there</string>
    </edit-config>
    <edit-config file="*-Info.plist" mode="merge" target="NSCameraUsageDescription">
        <string>need camera access to take pictures</string>
    </edit-config>
    <edit-config file="*-Info.plist" mode="merge" target="NSPhotoLibraryAddUsageDescription">
        <string>need to photo library access to save pictures there</string>
    </edit-config>
    <platform name="android">
        <icon density="ldpi" src="www/lib/assets/android-app-icon/ldpi.png" />
        <icon density="mdpi" src="www/lib/assets/android-app-icon/mdpi.png" />
        <icon density="hdpi" src="www/lib/assets/android-app-icon/hdpi.png" />
        <icon density="xhdpi" src="www/lib/assets/android-app-icon/xhdpi.png" />
        <icon density="xxhdpi" src="www/lib/assets/android-app-icon/xxhdpi.png" />
        <icon density="xxxhdpi" src="www/lib/assets/android-app-icon/xxxhdpi.png" />
        <splash density="port-hdpi" src="www/lib/assets/android-launch-image/splash-port-hdpi.png" />
        <splash density="port-ldpi" src="www/lib/assets/android-launch-image/splash-port-ldpi.png" />
        <splash density="port-mdpi" src="www/lib/assets/android-launch-image/splash-port-mdpi.png" />
        <splash density="port-xhdpi" src="www/lib/assets/android-launch-image/splash-port-xhdpi.png" />
        <splash density="port-xxhdpi" src="www/lib/assets/android-launch-image/splash-port-xxhdpi.png" />
        <splash density="port-xxxhdpi" src="www/lib/assets/android-launch-image/splash-port-xxxhdpi.png" />
        <preference name="android-minSdkVersion" value="14" />
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="BackupWebStorage" value="none" />
        <icon height="180" src="www/lib/assets/ios-app-icon/icon-60@3x.png" width="180" />
        <icon height="60" src="www/lib/assets/ios-app-icon/icon-60.png" width="60" />
        <icon height="120" src="www/lib/assets/ios-app-icon/icon-60@2x.png" width="120" />
        <icon height="76" src="www/lib/assets/ios-app-icon/icon-76.png" width="76" />
        <icon height="152" src="www/lib/assets/ios-app-icon/icon-76@2x.png" width="152" />
        <icon height="40" src="www/lib/assets/ios-app-icon/icon-small-40.png" width="40" />
        <icon height="80" src="www/lib/assets/ios-app-icon/icon-small-40@2x.png" width="80" />
        <icon height="57" src="www/lib/assets/ios-app-icon/icon.png" width="57" />
        <icon height="114" src="www/lib/assets/ios-app-icon/icon@2x.png" width="114" />
        <icon height="72" src="www/lib/assets/ios-app-icon/icon-72.png" width="72" />
        <icon height="144" src="www/lib/assets/ios-app-icon/icon-72@2x.png" width="144" />
        <icon height="167" src="www/lib/assets/ios-app-icon/icon-83.5@2x.png" width="167" />
        <icon height="29" src="www/lib/assets/ios-app-icon/icon-small.png" width="29" />
        <icon height="58" src="www/lib/assets/ios-app-icon/icon-small@2x.png" width="58" />
        <icon height="50" src="www/lib/assets/ios-app-icon/icon-small-50.png" width="50" />
        <icon height="1024" src="www/lib/assets/ios-app-icon/icon-1024.png" width="1024" />
        <icon height="100" src="www/lib/assets/ios-app-icon/icon-small-50@2x.png" width="100" />
        <splash height="480" src="www/lib/assets/ios-launch-image/Default~iphone.png" width="320" />
        <splash height="960" src="www/lib/assets/ios-launch-image/Default@2x~iphone.png" width="640" />
        <splash height="1024" src="www/lib/assets/ios-launch-image/Default-Portrait~ipad.png" width="768" />
        <splash height="2048" src="www/lib/assets/ios-launch-image/Default-Portrait@2x~ipad.png" width="1536" />
        <splash height="1136" src="www/lib/assets/ios-launch-image/Default-568h@2x~iphone.png" width="640" />
        <splash height="1334" src="www/lib/assets/ios-launch-image/Default-667h.png" width="750" />
        <splash height="2208" src="www/lib/assets/ios-launch-image/Default-736h.png" width="1242" />
    </platform>
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarStyle" value="default" />
    <engine name="android" spec="^6.2.3" />
    <engine name="browser" spec="^4.1.0" />
    <engine name="ios" spec="^4.5.4" />
    <plugin name="cordova-plugin-statusbar" spec="~1.0.1" />
    <plugin name="cordova-plugin-whitelist" spec="~1.2.0" />
    <plugin name="call-number" spec="git+https://github.com/Rohfosho/CordovaCallNumberPlugin.git" />
    <plugin name="cordova-plugin-nativegeocoder" spec="^2.0.2" />
    <plugin name="cordova-plugin-geolocation" spec="^2.4.3">
        <variable name="GEOLOCATION_USAGE_DESCRIPTION" value=" " />
    </plugin>
    <plugin name="cordova-plugin-file-transfer" spec="^1.6.3" />
</widget>
